#NSCHUI_loading_wrapper
{
	margin-top:2px;
	
	
	margin-left:5px;
	width:100px;
	height:20px;
	border:1px solid black;
	text-align:center;
}

#NSCHUI_loading_bar
{
  
  

  width: 1%;
  height: 100%;
  background-color: red;
  text-align: center;
  line-height: 30px;
  color: white;
}
.NSCHUI_gameified_img
{
	width:25px;
	height:25px;
	margin-right:5px;
}

.NSCHUI_header_bar
{
	padding-top:5px;
}

.NSCHUI_header_section
{
	border:0px solid red;
}
